[package]
name = "basics"
version = "4.0.0"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
edition = "2018"

[dependencies]
ntex = { version = "3.0.0-pre.9", features = ["tokio"] }
ntex-files = "3"
ntex-session = "3.1"
futures = "0.3"
env_logger = "0.11"
