[package]
name = "static_index"
version = "3.0.0"
authors = ["Jose Marinez <digeratus@gmail.com>"]
edition = "2018"

[dependencies]
futures = "0.3"
env_logger = "0.11"

ntex = { version = "3.0.0-pre.2", features = ["tokio"] }
ntex-files = "3.0.0-pre.0"
