[package]
name = "awc_https"
version = "3.0.0"
authors = ["dowwie <dkcdkg@gmail.com>"]
edition = "2018"

[dependencies]
ntex = { version = "3.0.0-pre.6", features = ["openssl", "tokio"] }
openssl = "0.10"
