[package]
name = "unix-socket"
version = "3.0.0"
authors = ["Messense Lv <messense@icloud.com>"]
edition = "2018"

[dependencies]
ntex = { version = "1.0.0-b.1", features = ["tokio"] }
env_logger = "0.10"
